<md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall md-accent">
    <i layout="row" layout-align="center" class="material-icons md-light md-72">public</i>
    <h2 layout="row" layout-align="center">Site Demo</h2>
  </md-toolbar>
  <md-content>
    <p>Hello HelloHello Hello Hello HelloHello Hello Hello</p>
  </md-content>
</md-sidenav>
