<% include components/sidebar.ejs %>
<div layout="column" class="relative" layout-fill role="main">
  <md-toolbar class="md-primary">
  </md-toolbar>
  <md-content>
    <% include components/hello.ejs %>
    <% include components/mail.ejs %>
  </md-content>
</div>
